// Icons from https://simpleicons.org/

/*
.five-hundred-px, .facebook, .github, .gitlab, .linked-in {
   transition: background-color 0.3s ease;
}
*/
.fivehundredpx:hover { background-color: #0099E5; }
.facebook:hover { background-color: #3B5998; }
.github:hover { background-color: #181717; }
.gitlab:hover { background-color: #E24329; }
.linkedin:hover { background-color: #0077B5; }
.photoshop { background-color: #00C8FF; }