@import "config";

body {
   display: flex;
   flex-direction: column;
   padding: 0;
   margin: 0;
   position: relative;
   background-color: #bbcce8;
   font-family: $sanSerifFont;
}


main {
   margin: 0;
   padding: 0;
}


@media only screen and (max-width: 1023px) {
   .row {
      max-width: none;
      margin: 0;
   }
   header ul { margin-left: 1em; }
   #hero section { margin-top: 2em; }
   #hero section .row { height: 7.5em; align-items: center; }
   #hero section h1 { white-space: normal; text-align: center; font-size: 3em; }
   #face, #hero .face-space { width: 10em; }
   #face { top: 3.5em; }

   section.about .row { align-items: flex-start; }
   section.about .row dl { width: 50%; }
}

@media only screen and (max-width: 767px) {
   table.experience td img {
      height: 30px;
      margin-right: 2px;
   }

   table.experience tr th { font-size: 1em; }
   table.experience td.name { font-size: inherit; }
   table.experience td.level ul li { width: 0.5em;  }
}