body {
   display: flex;
   flex-direction: column;
   padding: 0;
   margin: 0;
   position: relative;
   background-color: #bbcce8;
   /* https://css-tricks.com/snippets/css/system-font-stack/ */
   /* https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
   font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
}

#face {
   top: 1.5em;
   left: 0;
   right: 0;
   width: 16em;
   margin: 0 auto;
   position: absolute;
   border-radius: 8em;
   border: 6px solid #fff;
}