@import "brands";
@import "config";

nav.top {
   height: $navbarHeight;
   background-color: $backgroundColor;
   
   .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100%;
   }

   a {
      color: #fff;
      text-decoration: none;

      &:hover {
         color: $lightColor;
         text-decoration: underline;
      }
   }

   #platforms {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
         display: block;
         height: $navbarHeight / 2;
         padding: $navbarHeight / 4;
      }
   }

   ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;

      >li {
         font-size: 1.5rem;
         text-transform: uppercase;
         margin-right: 1rem;
      }
      
      @include tablet { margin-left: 1rem; }
   }
}