@import "config";
@import "mixins";

section {
   background-color: #fff;
   margin-bottom: 1rem;
   color: $backgroundColor;
   padding: 1rem 0;

   h1 { font-size: 2rem; margin: 0; }
   p { margin: 0; }

   &.inverted {
      color: #fff;
      background-color: $backgroundColor;

      h1, h2, h3, h4, h5 {
         color: #fff;
      }

      a {
         color: lighten($linkColor, 50%);
      }
   }

   .content {
      max-width: 1040px;
      margin: 0 auto;
   }

   @include tablet {
      .content {
         margin: 0;
         padding: 0 1rem;
      }
   }
}