@import "config";
@import "mixins";

section {
   background-color: #fff;
   margin-bottom: 1rem;
   color: $backgroundColor;

   h1 { font-size: 2rem; }

   &.inverted {
      color: #fff;
      background-color: $backgroundColor;

      h1, h2, h3, h4, h5 {
         color: #fff;
      }
   }

   .content {
      max-width: 1040px;
      margin: 0 auto;
   }

   @include tablet {
      margin-left: 1rem;
      margin-right: 1rem;

      .content { margin: 0; }
   }
}