@import "config";
@import "mixins";

section.skills .content {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   h1 {
      font-size: 2rem;
      white-space: nowrap;
   }

   .leadership {
      flex-basis: 40%;
      margin-left: 1rem;
   }

   .technical {
      flex-basis: 55%;

      table {
         margin: 2rem 0;
         border-collapse: collapse;

         tr {
            border-bottom: 1px solid $titleColor;

            th, td {
               padding: 0.25rem 0.5rem;
               &.note { width: 33%; }
            }

            th {
               color: $titleColor;
               font-family: $titleFont;
               font-weight: normal;
               font-size: 1.2rem;
               vertical-align: bottom;

               @include phone { font-size: 1rem; }
            }

            td {
               vertical-align: middle;

               &.name {
                  >div {
                     display: flex;
                     flex-direction: row;
                     justify-content: space-between;
                     align-items: center;
                     height: 100%;

                     p {
                        display: block;
                        font-size: larger;
                        white-space: nowrap;
                        padding: 0;
                        margin: 0;
                     }

                     >div img {
                        height: 2rem;
                        margin-left: 0.5rem;
                     }

                     @include phone {
                        p { font-size: 1rem; }
                        img { height: 1rem; }
                     }
                  }
               }
               &.years { text-align: right; }
               &.level {
                  text-align: center;

                  ul {
                     list-style: none;
                     padding: 0;
                     margin: 0;
                     white-space: nowrap;

                     li {
                        padding: 0;
                        margin: 0;
                        text-indent: 0;
                        display: inline-block;
                        width: 0.75rem;
                        height: 1rem;
                        border: 1px solid #000;
                        border-left: none;

                        @include phone {
                           width: 0.5rem;
                        }

                        &.on {
                           background-color: rgba(0, 255, 0, 0.3);
                        }

                        &:first-of-type {
                           border-left: 1px solid #000;
                        }

                     }
                  }
               }
               &.note { font-size: 1rem; }
            }

            &:hover {
               background-color: #ffd;

               td.level ul li.on {
                  background-color: rgba(0, 255, 0, 1);
               }
            }
         }
      }
   }
}