@import "config";

section.skills {
   table {
      margin: 2em 0;
      border-collapse: collapse;

      tr {
         border-bottom: 1px solid #357;

         th, td {
            padding: 0.25em 1em;
         }

         th {
            color: #357;
            font-size: 1.5em;
            line-height: 1em;
            vertical-align: bottom;
         }

         td {
            &:first-of-type {
               text-align: center;
               white-space: nowrap;
            }

            &.name { font-size: larger; }
            &.years { text-align: right; }
            &.level {
               text-align: center;
               
               ul {
                  list-style: none;
                  padding: 0;
                  margin: 0;
                  white-space: nowrap;

                  li {
                     padding: 0;
                     margin: 0;
                     text-indent: 0;
                     display: inline-block;
                     width: 1em;
                     height: 1em;
                     border: 1px solid #000;
                     border-left: none;
                     background-color: #6FE96F;

                     &:first-of-type {
                        border-left: 1px solid #000;
                     }

                     &.off {
                        background: none;
                     }
                  }
               }
            }            
            &.note { font-size: smaller; }

            img {
               height: 50px;
               margin-right: 5px;
            }
         }

         &:hover {
            background-color: #fff;
         }
      }
   }
}

